*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.d-flx{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.jcsa{
    padding: 20px;
}

.word-color{
    color: aliceblue;
}


.bgc{
    background-color: #AA0601;
}

.bgci{
    width: 80px;
    height: 48px;
}



.p48{
    margin: 49px;
}


.pt1{
    padding: 10px;
}
.pb2{
    padding-bottom: 10px;
}




